USE [QuanLyBanDienThoai_k235480106066]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTienHoaDon]    Script Date: 27/04/2026 1:35:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhTienHoaDon] (@MaHD INT)
RETURNS MONEY
AS
BEGIN
    DECLARE @TongTien MONEY;
    SELECT @TongTien = HD.SoLuongMua * DT.GiaBan
    FROM [HoaDon] HD JOIN [DienThoai] DT ON HD.MaDT = DT.MaDT
    WHERE HD.MaHD = @MaHD;
    RETURN ISNULL(@TongTien, 0);
END;
GO
/****** Object:  Table [dbo].[DienThoai]    Script Date: 27/04/2026 1:35:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DienThoai](
	[MaDT] [int] NOT NULL,
	[TenDT] [nvarchar](100) NOT NULL,
	[HangSX] [nvarchar](50) NULL,
	[GiaBan] [money] NULL,
	[SoLuongTon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TimDienThoai_ConHang]    Script Date: 27/04/2026 1:35:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TimDienThoai_ConHang] (@Hang NVARCHAR(50))
RETURNS TABLE
AS
RETURN (
    SELECT * FROM [DienThoai] 
    WHERE [HangSX] = @Hang AND [SoLuongTon] > 0
);
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 27/04/2026 1:35:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NULL,
	[MaDT] [int] NULL,
	[NgayMua] [date] NULL,
	[SoLuongMua] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 27/04/2026 1:35:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTenKhachHang] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[DiemThanhVien] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DienThoai] ([MaDT], [TenDT], [HangSX], [GiaBan], [SoLuongTon]) VALUES (101, N'iPhone 15 Pro Max 256GB', N'Apple', 29990000.0000, 49)
INSERT [dbo].[DienThoai] ([MaDT], [TenDT], [HangSX], [GiaBan], [SoLuongTon]) VALUES (102, N'iPhone 15 Plus 128GB', N'Apple', 23500000.0000, 29)
INSERT [dbo].[DienThoai] ([MaDT], [TenDT], [HangSX], [GiaBan], [SoLuongTon]) VALUES (103, N'iPhone 14 128GB', N'Apple', 17500000.0000, 43)
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaKhachHang], [MaDT], [NgayMua], [SoLuongMua]) VALUES (1, 1, 101, CAST(N'2026-01-15' AS Date), 1)
INSERT [dbo].[HoaDon] ([MaHD], [MaKhachHang], [MaDT], [NgayMua], [SoLuongMua]) VALUES (2, 2, 105, CAST(N'2026-01-20' AS Date), 1)
INSERT [dbo].[HoaDon] ([MaHD], [MaKhachHang], [MaDT], [NgayMua], [SoLuongMua]) VALUES (3, 3, 107, CAST(N'2026-02-05' AS Date), 2)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTenKhachHang], [NgaySinh], [SoDienThoai], [DiemThanhVien]) VALUES (1, N'Nguyễn Văn An', CAST(N'1995-05-12' AS Date), N'0988123456', 5)
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTenKhachHang], [NgaySinh], [SoDienThoai], [DiemThanhVien]) VALUES (2, N'Trần Thị Bích', CAST(N'2000-10-20' AS Date), N'0912345678', 4)
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTenKhachHang], [NgaySinh], [SoDienThoai], [DiemThanhVien]) VALUES (3, N'Lê Hoàng Nam', CAST(N'1998-02-28' AS Date), N'0909112233', 3)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
ALTER TABLE [dbo].[DienThoai] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayMua]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((5)) FOR [DiemThanhVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaDT])
REFERENCES [dbo].[DienThoai] ([MaDT])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DienThoai]  WITH CHECK ADD  CONSTRAINT [CK_GiaBan] CHECK  (([GiaBan]>(0)))
GO
ALTER TABLE [dbo].[DienThoai] CHECK CONSTRAINT [CK_GiaBan]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_SoLuongMua] CHECK  (([SoLuongMua]>=(1)))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK_SoLuongMua]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK_DiemThanhVien] CHECK  (([DiemThanhVien]>=(1) AND [DiemThanhVien]<=(5)))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK_DiemThanhVien]
GO
/****** Object:  StoredProcedure [dbo].[sp_MuaDienThoai]    Script Date: 27/04/2026 1:35:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MuaDienThoai]
    @MaKH INT, @MaDT INT, @SoLuong INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM [DienThoai] WHERE MaDT = @MaDT AND SoLuongTon < @SoLuong)
        PRINT N'Lỗi: Giao dịch bị hủy! Số lượng tồn kho không đủ để đáp ứng.';
    ELSE
    BEGIN
        INSERT INTO [HoaDon](MaKhachHang, MaDT, SoLuongMua) VALUES (@MaKH, @MaDT, @SoLuong);
        PRINT N'Giao dịch thành công! Đã tạo hóa đơn mới.';
    END
END;
GO
